.homeContainer {
  padding: 5rem 0;

  img {
    display: block;
    margin-bottom: 4rem;
  }

  & > button {
    background: transparent;
    border: 0;
    color: var(--pink-500);
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 4.125rem;
  }
}

.postsContainer {
  display: flex;
  flex-direction: column;

  & > div + div {
    margin-top: 3.125rem
  }
}
